body {
    height: 100vh;
    padding: 0;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background: rgba(15, 35, 43, 0.6);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}


/* .head-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.head-img{
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.4s ease;
}

.head-img img:hover {
  transform: scale(1.05);
} */

.hero{
    display: flex;
    /* justify-content: space-between; */
    padding: 25px;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}


.hero-right img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.hero-right {
  border: 2px solid #38bdf8;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  transition: box-shadow 0.4s ease;
  
}

.hero-right:hover{
  box-shadow: 0 0 25px rgba(56,189,248,0.6);
}

.hero-left{
    font-family: 'Poppins', sans-serif;
    color: azure;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.name{
    color: #38bdf8;
}
.dev{
    text-decoration: underline;
    color: #2dd4bf;
    text-decoration-color: #38bdf8;
}

.icons{
    display: flex;
    width: 50%;
    justify-content: space-around;
}


.icons a img:hover{
    box-shadow: 0 0 25px rgba(56, 235, 248, 0.6);
}